
/*************************************/
/*             VARIABLES             */
/*************************************/

$lg-margin                 : 70px; 
$md-margin                 : 40px; 
$sm-margin                 : 25px; 

$base-size-text            : 15px;
$base-typo                 : 'Domine', serif;
$base-color-typo           : rgb(237, 229, 223); 

/*************************************/
/*               MIXINS              */
/*************************************/

@mixin container($width) {
    max-width              : $width;
    margin                 : auto;
    text-align             : center; 
}

/*************************************/
/*               GENERAL             */
/*************************************/

body{
    margin                  : 0;
    font-family             : 'Domine', serif;
    letter-spacing          : 1px;
    color                   : $base-color-typo;
    font-size               : $base-size-text;
    font-weight             : 300;
    padding                 : 0;
    background-image        :  radial-gradient(circle,rgba(65, 65, 65, 0.65) 80%, rgba(117, 117, 117, 0.6) 100%), url("../img/aesthetic-plant-wallpaper.jpg");
    background-size         : cover;
    background-position     : center; 
    background-blend-mode   : multiply;
}

header, main{
    @include container(1200px); 
}

/*************************************/
/*                 TYPOS             */
/*************************************/

/*
font-family                 : 'Domine', serif;
font-family                 : 'Hind', sans-serif;
*/


/*************************************/
/*                TITLES             */
/*************************************/

@for $n from 1 through 6 {
    h#{$n} {
      font-size             : round($base-size-text * (0.3 * (10 - $n)));
      font-family           : 'Hind', sans-serif;
      letter-spacing        : 2.5px;
    }
}

/*************************************/
/*                HEADER             */
/*************************************/

header{ 
    margin-bottom           : $lg-margin;
}

/*************************************/
/*                MAIN               */
/*************************************/ 

main{
    // background: rgba(0, 0, 0, 0.092);
    > p{
        @include container(900px); 
        line-height         : $sm-margin;
    }
}

#ingredients{
    margin-top              : $sm-margin;
}

form{
    input{
        width               : 40%;
        height              : 30px;
        border-radius       : 50px;
        border              : none;
        background          : rgba(255, 255, 255, 0.8); 
        box-shadow          : 2px 2px 7px rgba(0, 0, 0, 0.5) inset;
        padding             : 10px 15px
    }

    div{
        width: 100%;
        button{
            font-family      : 'Hind', sans-serif;
            display          : inline-block;
            border           : none; 
            padding          : 7px 20px; 
            background       : rgba(255, 255, 255, 0.8); 
            border-radius    : 50px;
            margin           : 0 auto;
            box-shadow       : 2px 2px 7px rgba(0, 0, 0, 0.5);
            cursor           : pointer;
            font-weight      : 200;
            font-size        : $base-size-text;
            line-height      : 30px;
            margin-top       : $sm-margin;
        }
    }
}

/*************************************/
/*              FOOTER               */
/*************************************/ 

footer{
    width                   : 100%;
    position                : absolute;
    bottom                  : 0;
    text-align              : center;

}

